/*'Poiret One, cursive;
  'Lobster', cursive;*/
 body {
 	background-color: #f9e7cb;
 	font-family: 'Open Sans', sans-serif;
 	padding-left:  5%;
    padding-right: 5%;
 }
.head {
	letter-spacing: 4px;
	padding-top: 3%;
	padding-bottom: 3%;
	display: inline;
	text-align: center;
}
.builder {
	display: inline-block;
}

.form-group, .form-group-2 {
   padding-bottom: 75px;
}

.form-group-2 > .col-xs-6 > input {
	margin-bottom: 75px;
}

label {
	white-space: nowrap;
}

h3 > a,
h3 > a:hover,
h3 > a:focus {
	color: #f9e7cb;

}

.divider {
	margin-top:    10px;
	margin-bottom: 10px;
	border-bottom: 3px solid #795840;
}

.top-nav li {
	text-align: center;
	font-size: 300%;
	color: white;
	text-shadow: 2px 2px 2px #000;
}
.nav-toggle {
	cursor: pointer; 
	padding: 10px 35px 16px 0px;
}
.nav-toggle:hover { 
	background: none; 
}
.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: white;
  position: absolute;
  display: block;
  content: '';
  
  transition: all 500ms ease-in-out;
}
.nav-toggle span:before { top: -10px; }
.nav-toggle span:after { bottom: -10px; }
.nav-toggle.active span { background-color: transparent; }
.nav-toggle.active span:before, #nav-toggle.active span:after { top: 0; }
.nav-toggle.active span:before { transform: rotate(45deg); }
.nav-toggle.active span:after { transform: translateY(-10px) rotate(-45deg); }

.nav-menu { 
	background: rgba(0, 0, 0, 0); 	
	max-height: 0;
	overflow: hidden;

	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.nav-menu.in { max-height: 500px; }
.nav-menu ul { list-style-type: none; padding: 10px 0px 10px; }
.nav-menu ul li { padding: 10px 0px; }
.nav-menu ul li a { color: #ADA7B5; font-size: 20px; text-decoration: none; }
.nav-menu ul li a:hover,
.nav-menu ul li.active a { color: white; font-weight: bold; }

.jumbotron {
	background: #a97d5d;
	border-radius: 10px;
	-webkit-box-shadow : 3px 3px 0px 0px #795840;
	-moz-box-shadow:     3px 3px 0px 0px #795840;
	box-shadow:          3px 3px 0px 0px #795840;
}

.navbar-inverse .navbar-nav > li > a {
	color: white;
  	text-shadow: 1px 1px 1px #000;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  text-decoration: underline;
}

.navbar-inverse .navbar-nav > .active > a{
	color: white;
	background-color: #f7dcb4;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus{
	color: white;
	font-weight: bold;
	text-shadow: 1px 1px 1px #000;
}

.col-md-4 {
	width: 380px;
	height:700px;
	overflow: hidden;
}
.bold {
	font-weight: 700;
	color: #00E5EE;
}

.navbar {
	background: #9a7152;
	border-bottom: 1px solid #684c37;
	font-size: 125%;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus{
	color: inherit;
	background-color:inherit;
}

.nav {
	color: white;
}
.nav > li > a {
	color: white;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a,
.navbar-inverse .navbar-nav .open .dropdown-menu {
	background-color:#9a7152 ;
	color: white;
}

.navbar-inverse .navbar-nav .open .dropdown-menu .dropdown-header {
	color: white;
}

.btn-file {
    position: relative;
    float: right;
	overflow: hidden;
}
.btn-file:hover,
.btn-file:focus{
	color: #000;
}
.btn-file input[type=file] {
    position: absolute;
    float: right;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.btn-default {
	-webkit-box-shadow : 3px 3px 0px 0px #795840;
	-moz-box-shadow:     3px 3px 0px 0px #795840;
	box-shadow:          3px 3px 0px 0px #795840;
	letter-spacing: 3px;
}

.btn-default:hover,
.btn-default:focus {
	color: #000;
	font-weight: bold;
}


/* BUTTONS 
.btn { 
	background: none; 
	background: rgba(255, 255, 255, 0.0);
	border: 2px solid #FFF; 
	color: #FFF; 
	font-weight: 700;
	outline: none;
	text-decoration: none;
	
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
		
	-webkit-transition: background .5s ease-out;
	-moz-transition: background .5s ease-out;
	-o-transition: background .5s ease-out;
	transition: background .5s ease-out;
}

.btn:hover, .btn:active {
	background: #FFF;
	background: rgba(255, 255, 255, 1);
	border: 2px solid #FFF;
	color: #444;
	
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.btn-primary { background: rgba(233, 178, 75, 0.0); border: 2px solid #E9B24B; color: #E9B24B; }
.btn-primary:hover, .btn-primary:active { background: ##E9B24B; background: rgba(233, 178, 75, 1); border: 2px solid #E9B24B; color: #FFF; }
*/
@media(max-width:767px){
	body { font-size: 14px; }
		
	.top-bar .navigation { height: 62px; }
	h1 {
		font-size: 25px;
		font-weight: bold;
	}
	.btn-file {
		float: none;
	}
	 .btn-file input[type=file]{
	 	float: right;
	 }
}